Source/ATS.Presentation.Web/Content/plugins/
Source/ATS.Presentation.WFA/obj/
Source/ATS.Presentation.WFA/bin/
Source/ATS.Presentation.Web/obj/
Source/ATS.Presentation.Web/Content/
Source/ATS.Presentation.Web/bin/
Source/ATS.Core.Domain/obj/
Source/ATS.Core.Domain/bin/
Source/ATS.Cadastro.Infra.Data/obj/
Source/ATS.Cadastro.Infra.Data/bin/
Source/ATS.Cadastro.Infra.CrossCutting.IoC/obj/
Source/ATS.Cadastro.Infra.CrossCutting.IoC/bin/
Source/ATS.Cadastro.Infra.CrossCutting.Identity/obj/
Source/ATS.Cadastro.Infra.CrossCutting.Identity/bin/
Source/ATS.Cadastro.Domain/bin/
Source/ATS.Cadastro.Application/obj/
Source/ATS.Cadastro.Application/bin/
