@using ATS.Core.Domain.Resources;

<!-- Popover customizado para Exclusão de itens na tabela -->
<div id="DivPopover" class="hide">
    <p>@Texto.MsgPopOverExclusao</p>
    <p class='BotoesPopover'>
        <button type='button' class='btn btn-xs btn-success right btnConfirmarExclusao'>Confirmar</button>
        <button type='button' class='btn btn-xs right btnCancelarExclusao'>Cancelar</button>
    </p>
</div>