@model ATS.Cadastro.Application.ViewModels.PessoaJuridica.EditarPessoaJuridicaViewModel

<div class="modal fade" tabindex="-1" role="dialog" id="meioModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Cadastro de Meio de Comunicação</h4>
            </div>
            <div class="modal-body">                
                <div class="row">                    
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label">Tipo de Comunicação:</label>
                            @Html.DropDownListFor(m => m.MeioDeComunicacao.TipoDeMeioDeComunicacaoId, Model.TipoDeMeioDeComunicacaoList, new { @class = "form-control selectTipo", @size = "2" })
                            <span id="tipoErro" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <label class="control-label">Valor:</label>
                            @Html.TextBoxFor(m => m.MeioDeComunicacao.Valor, new { @class = "form-control meioModal" })
                            <span id="meioErro" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btnFechar" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary btnSalvarMeio">Salvar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
